body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vermelho {
    height: 50px;
    background: cornflowerblue;
    display: flex;
    margin: 15px;
    padding: 10px;
    align-items: center;
}

.lista {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
a:hover {
    text-decoration: underline;
}
.logo {
    font-size: 32px;
}

.cinza {
    height: 300px;
    background: white;
    display: flex;
    margin: 15px;
    justify-content: space-evenly;
}
.prata {
    display: flex;

}

.prata div {
    background: silver;
    height: 250px;
    margin: 40px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.lista_sem {
    list-style: none;
    display: flex;
}
li {
    margin: 15px;

}

img {
    display: flex;
}